MONGODB_URI="_____mongodb_uri_____/scheduler"

JWT_SECRET="ANY_SECRET_TEXT"

ZERNIO_API_KEY="_____zernio_api_key_____"

GROQ_API_KEY="_____groq_api_key_____"

GEMINI_API_KEY="_____gemini_api_key_____"

STABILITY_API_KEY="_____stability_api_key_____"

CLOUDINARY_CLOUD_NAME="_____cloudinary_cloud_name_____"
CLOUDINARY_API_KEY="_____cloudinary_api_key_____"
CLOUDINARY_API_SECRET="_____cloudinary_api_secret_____"
